/* ---------------Box Sizing----------------- */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

body{
     font-family: "Oswald", sans-serif;
     margin:0;
}

header.primary{
background-color:#6b93c2
color:#ffffff;
text-align:center;
text-shadow:1px 1px #000000;
padding:40px;
}

header.primary a {
    color:#ffffff;
    text-decoration:none;
}

header.primary h1{
    font-size:2.6rem;
    margin:0;
}

header.primary p.subtitle{
    font-size:1.3rem;
    font-weight:bold;
}

nav.primary ul{
    background:red;
    padding:0;
}
nav.primary ul li{
    
}